.helados{
    margin-left: 10px;
    width: 100px;
}
nav{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body{ 
    margin : 0px !important;
    background-color: seagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lista{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
li{
    list-style: none;
  margin-right: 20px; 
  font-weight: 700; 
  
    color:red;
}
.perrito{
    width: 80%;
    margin: 0 auto;
    height: 400px;
    background-color: blue;
   display:flex;
   flex-direction: row;
   justify-content: center;
}
.heladoMascota{
    display: flex;
    flex-direction:column;
    justify-content: center;
}