.helados{
    margin-left: 10px;
    width: 100px;
}
nav{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body{ 
    margin : 0px !important;
    background-color: seagreen;
}
.lista{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
}